/*
Project : One Page
Author  : Hamit Mızrak
Date    :14 /June /2023
Version : v.1
*/

/*#######################################################*/
/* Root -kök*/
:root{
    --templateBgColor:rgb(44, 45, 46);
}

/*#######################################################*/
/* Common Property-ortak mülkiyet */
*{
    margin: 0;
    padding:0px;
    box-sizing:border-box ;
 }
 html{
    font-size: 20px;
 }
body{
    font-family: 'Manrope', sans-serif;
    line-height: 1.2;
    position: relative;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}

img{
  max-width: 100%;
  height: auto;
}

img:hover{
    opacity: 0.9   ;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.8);
    transition: 3s all ;
    cursor: pointer ;
}

i{
  font-size: 1.5rem;  /* html e göre 1.5*20 demektir */ 
}
/*#######################################################*/
 .my_clearfix::after{
    content: "";
    display: block;
    clear: both;
 }

   /* my special size */
.fSize1{
    font-size: 1rem;  /*  20*1  */
}
.fSize2{
    font-size: 2rem;  /*  20*2  */
}

.fSize3{
    font-size: 3rem;  /*  20*3  */
}

.fSize4{
    font-size: 4rem;  /*  20*4  */
}
 /* Line-clamp */
.line-clamp5{
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp8{
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.line-clamp10{
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

/*#######################################################*/
/*Navbar*/
.dark_mode{
background-color: var(--templateBgColor);
color: #ffff;

}

/*Header*/
header{
    background-image: url(./img/indir.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    height: 80vh;
    padding-top: 4rem;
}

/*Footer*/
footer{
    min-height: 10 rem;
    width: auto;
    color: white; 
}